body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
}

#grid {
    width: 668px;
    height: 668px;
    border: 1px solid black;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#buttons {
    margin-right: auto;
    margin-left: 1px;
}

.reset, .rainbow {
    height: 90px;
    width: 90px;
    border: 4px transparent grey;
    margin-left: 30px;
    margin-bottom: 15px;
}